# top-most EditorConfig file
root = true

[Makefile]
indent_style = tab

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx,css,json,sh,yml,html,md}]
charset = utf-8
indent_style = space
indent_size = 2
